<table mat-table [dataSource]="listUser">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName" >
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName }} </td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> Date of birth </th>
    <td mat-cell *matCellDef="let element"> {{element.formatDob}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Created at </th>
    <td mat-cell *matCellDef="let element" (click)="showItem(element)"> {{element.createdAt}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element" [class]="element.textColorGender"> {{element.gender}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div [hidden]="!user.id">
  Show User
  <div>
    {{user.fullName}}
  </div>
  <div>
    {{user.formatDob}}
  </div>
  <div>
    {{user.createdAt}}
  </div>
  <div>
    {{user.gender}}
  </div>
</div>

<router-outlet></router-outlet>
